<ion-view style="" title="Events" ng-controller="eventsCtrl" >
    <ion-nav-buttons side="right"  >
      <i style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" class="icon ion-home" ng-click="goHome()"></i>
    </ion-nav-buttons>
    <ion-content class="has-header bk-fan" padding="true">
        <div class="card">
          <div class="item item-text-wrap">
            <button on-touch="myEvents('on-touch')" class="button button-full button-positive">on-touch</button>
            <button on-tab="myEvents('on-tab')" class="button button-full button-positive">on-tab</button>
            <button on-double-tab="myEvents('on-double-tab')" class="button button-full button-positive">on-double-tab</button>
            <button on-hold="myEvents('on-hold')" class="button button-full button-positive">on-hold</button>
            <button on-release="myEvents('on-release')" class="button button-full button-positive">on-release</button>
            <button on-drag="myEvents('on-drag')" class="button button-full button-positive">on-drag</button>
          </div>
        </div>
    </ion-content>
</ion-view>