<ion-view style="" title="My Profile">
    <ion-content class="has-header bk-fan" padding="true" ng-controller="profileCtrl" >
        <form style="" name="profileForm">
            <div class="toast-container" style="margin-top: -30px;"></div>
            <div class="login-form">
                <div class="row responsive-sm">
                    <div class="col">
                        <div class="profile-img">
                            <img style="height: 250px;" id="profileImage" src="http://sportfan-app.netsol.local/sportfan/app/webroot/img/user_profile/thumb/{{user_image}}" ng-model="user_image" alt="{{name}}" title="{{name}}" />
                            <input type="hidden" ng-model="myimage" value="{{myimage}}"/>
                            <div class="profileImgTxt">
                                <a ng-click="uploadImage()">Edit</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col"><input placeholder="First Name" type="text" name="fname" ng-model="name" value="{{name}}" /></div>
                    <div class="col"><input placeholder="Last Name" type="text" name="lname" ng-model="nick_name"  value="{{nick_name}}" /></div>
                    <div class="col"><input placeholder="Email" type="email" name="email" ng-model="email"  value="{{email}}" /></div>
                    <div class="col"><textarea placeholder="About Me" name="about_me" ng-model="about_me">{{about_me}}</textarea>
                </div>
                <div style="width: 300px; height: 5px;" class="spacer"></div>
            <input style="font-size: 24px;" type="submit" style="" class="button button-balanced button-block " ng-click="UpdateProfileBtn()" name="submit" value="Update" />
            </div>
        </form>
    </ion-content>
</ion-view>