<ion-view style="" title="Information" ng-controller="infoCtrl" >
    <ion-nav-buttons side="right"  >
      <i style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" class="icon ion-home" ng-click="goHome()"></i>
    </ion-nav-buttons>
    <ion-content class="has-header bk-fan" padding="true">
        <div class="card">
          <div class="item item-text-wrap">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
    </ion-content>
</ion-view>