<ion-view style="" title="News Feed" ng-controller="newsListing">
    <ion-nav-buttons side="right"  >
      <!-- <input style="margin-top: -3px;" type="search" ng-model="obj.searchText"/> -->
      <i style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" class="icon ion-search" ng-click="searchMe()"></i>
    </ion-nav-buttons>

    <div class="toast-container" style="width: 100%; margin-top: 50px;"></div>
        <ion-content class="has-header bk-fan" padding="true"  style="background-color: #062132;" >
            
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
            <div class="list list-inset " ng-if="!searchNewsText" style="margin-top: 0px;transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="obj.searchText"/>
              </label>
            </div>      
            <ion-list id="news-feed-list" ng-repeat='x in feeds | filter:obj.searchText' class="">
                <ion-item style="" class="item" >
				<div class="item-inner">
                  <div>
                    <div width="60px" style="float:left;display:table; vertical-align:middle;" ng-click="inAppBrowser(x.Feed.web_link)">
                        <div  style="display: table-cell; vertical-align: middle;">
                        <div class="item-thum news-thum"  style="background-image:url('http://sportfan-app.netsol.local/sportfan/img/team_logo_upload/large/{{x.Feed.team_image}}');"></div>
                        </div>
                    </div>
                    
                    <div>
                        <div ng-click="inAppBrowser(x.Feed.web_link)" >
                            <div class="item-title">{{x.Feed.title| limitTo:65 }}{{x.Feed.title.length> 65 ? '...' : ''}}</div>
                            <div width="25%" class="item-label">{{  x.Feed.updated | fromNow }}</div>
                        </div>
                       <div class="item-desc" dd-text-collapse dd-text-collapse-max-length="100" dd-text-collapse-text="{{x.Feed.description}}"></div>
                    </div>
                    </div>
                    
					 
                  </div>  
				    <div class="item tabs tabs-secondary tabs-icon-left news-tab" ng-if="globals.currentUser.id" style="background: rgb(0, 35, 88); height: 40px; border-radius: 0px;">
						<a class="tab-item col-25" href="javascript:;" ng-click="likeUnlikeFeed(globals.currentUser.id,1,x.Feed.id)">
						  <i style="color: white; margin-top: -8px;" class="icon ion-thumbsup"></i>
						  <span style="color: white;font-size: 18px;line-height: 30px;">{{x.Feed.like_count}}</span>
						</a>
						<a class="tab-item col-25" href="javascript:;" ng-click="likeUnlikeFeed(globals.currentUser.id,0,x.Feed.id)">
						   <i style="color: white; margin-top: -8px;" class="icon ion-thumbsdown"></i>
						  <span style="color: white;font-size: 18px;line-height: 30px;">{{x.Feed.unlike_count}}</span>
						</a>
						<a class="tab-item col-50" ng-click="goComment({{x.Feed.id}})">
						  <i style="color: white; margin-top: -8px;" class="icon ion-chatbox"></i>
						  <span style="width:100%;color: white;font-size: 18px;line-height: 0;margin: -10px 0 0 12px;">{{x.Feed.comment_count}} comments</span>
						</a>
					  </div>	 
                </ion-item>
                
            </ion-list>
            <div style="width: 100%; float:left; height: 50px;" class="spacer"></div>
            <ion-infinite-scroll distance="10%"
                 on-infinite="loadMoreData()"
                 ng-if="noMoreItemsAvailable"  >
         </ion-infinite-scroll>

        </ion-content>


</ion-view>