<ion-view class="pane" title="Login" >
      <ion-nav-buttons side="right">
      <a class="button rgt-btn" ng-click="signupBtn()" style="line-height: 40px;">Sign Up</a>
    </ion-nav-buttons>
<!-- Content area -->
    <ion-content class="has-header bk-fan" padding="true" ng-controller="validateCtrl">
        <form style="" name="loginForm">
            <div style="width: 300px; height: 75px;" class="spacer"></div>
            <div class="toast-container" style="margin-top: -30px;"></div>
            <div class="login-form">
                <div class="row responsive-sm">
                    <div class="col"><input placeholder="Email" class="text-input--underbar" type="email" name="email" value="" ng-model="loginemail" /></div>
                    <div class="col"><input placeholder="Password" class="text-input--underbar" type="password" value="" ng-model="loginpassword" name="password" /></div>
                </div>
				<div style="width: 300px; height: 15px;" class="spacer"></div>
            </div>
            <input type="submit" style="font-size: 24px;" class="button button-balanced button-block " name="loginSubmit" value="Log in" ng-click="loginBtn()"/>
			
           <div style="width: 300px; height: 28px;" class="spacer"></div>
		    <div style="height: 2px; background-color: gray; text-align: center; margin: 30px;">
                <span style="background-color: white; position: relative; top: -0.5em; ">
                <span class="rounded-bg">OR</span>
                </span>
            </div>
            <div style="width: 300px; height: 28px;" class="spacer"></div>
            <a style="font-size: 24px;" class="button button-dark button-block" ng-click="guestBtn()">Browse As a Guest User</a>
        </form>
    </ion-content>
    
  
</ion-view>