<ion-view class="pane" title="Signup" >
    <ion-nav-buttons side="right">
      <a class="button rgt-btn" ng-click="loginBtn()" style="line-height: 40px;">Log In</a>
    </ion-nav-buttons>
<!-- Content area -->
    <ion-content class="has-header bk-fan" scroll="true" padding="true" ng-controller="signupCtrl">
        <div style="width: 100%; height: 45px;" class="spacer"></div>
        <form style="" name="signupForm">
            <div class="toast-container" style="margin-top: -30px;"></div>
            <div class="login-form">
                <div class="row responsive-sm">
                <div class="col">
                        <div class="profile-img">
                            <img style="height: 250px;" id="profileImage" ng-model="user_image" src="http://sportfan-app.netsol.local/sportfan/app/webroot/img/user_profile/large/1433919462_user_photo.jpg" alt="Your Profile Image" title="Your Profile Image" />
                            <input type="hidden" ng-model="myimage" value="{{myimage}}"/>
                            <div class="profileImgTxt">
                                <a ng-click="uploadImage()">Edit</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col"><input placeholder="First Name" type="text" name="fname" ng-model="fname" /></div>
                    <div class="col"><input placeholder="Last Name" type="text" name="lname" ng-model="lname" /></div>
                    <div class="col"><input placeholder="Email" type="email" name="email" ng-model="email" /></div>
                    <div class="col"><input placeholder="Password" type="password" name="password" ng-model="password" /></div>
                    <div class="col"><input placeholder="Confirm Password" type="password" name="cpassword" ng-model="cpassword" /></div>
                    <div class="row">
                      <div class="col"><input placeholder="Date Of Birth" type="date" name="dob" ng-model="dob"/></div>
                    </div>
                </div>
                <div style="width: 300px; height: 5px;" class="spacer"></div>
            <input style="font-size: 24px;" type="submit" style="" class="button button-balanced button-block " ng-click="signupBtn()" name="submit" value="Sign up" />
            </div>
        </form>
        <div style="width: 300px; height: 8px;" class="spacer"></div>
        <div style="height: 2px; background-color: gray; text-align: center; margin: 30px;">
                <span style="background-color: white; position: relative; top: -0.5em; ">
                <span class="rounded-bg">OR</span>
                </span>
            </div>
        <div style="width: 300px; height: 8px;" class="spacer"></div>
        <a style="font-size: 24px;" class="button button-dark button-block" ng-click="guestBtn()" >Browse As a Guest User</a>   
        <div style="width: 300px; height: 50px;" class="spacer"></div>         
    </ion-content>
</ion-view>