<ion-view style="" title="News Feeds" ng-controller="teamFeedsCtrl">
<ion-nav-buttons side="right"  >
      <!-- <input style="margin-top: -3px;" type="search" ng-model="obj.searchText"/> -->
      <i style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" class="icon ion-home" ng-click="goHome()"></i>
    </ion-nav-buttons>
    <div class="toast-container" style="width: 100%; margin-top: 50px;"></div>
    <ion-header-bar class="bar-subheader bar-dark" style="background-color:black !important;">
        <div class="list card">
            <div class="row" style="background-color: rgb(0, 0, 0) !important;">
                <div class="col col-20">
                    <img style="height: 50px; width:50px;" src="http://sportfan-app.netsol.local/sportfan/app/webroot/img/user_profile/large/1433919462_user_photo.jpg" ng-src="http://sportfan-app.netsol.local/sportfan/img/team_logo_upload/large/{{team_logo}}" />
                </div>
                <div class="col col-70" style="color: #fff;">{{team_name}}</div>
                </div>
            <div class="row" style="background-color: rgb(0, 0, 0) !important;">
                <div class="col" ng-if="globals.currentUser.id">
                    <button ng-click="addTeam({{team_id}})" style="background: #0A2456; color: #fff;" class="button button-full icon-left ion-plus-circled">Add To My Team</button>
                </div>
            </div>
        </div>  
      </ion-header-bar>
    <ion-content class="has-header bk-fan" padding="true" nav-transition='none'> 
    <!--<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> -->
        
        <div style="width: 100%; height: 60px;" ng-if="globals.currentUser.id"></div>      
        <div style="width: 100%; height: 50px;"></div>
        <!--<div class="list" >
        <div class="item my-item"
             collection-repeat="item in items"
             collection-item-width="'100%'"
             collection-item-height="item.height"
             ng-style="{height:item.height+'px'}">

            <div ng-style="{height:item.height-6+'px'}">
                item {{$index}} (height:{{item.height}})
            </div>
        </div>
    </div> -->
    <ion-list id="news-feed-list" >
                    <div style="background-color: transparent;margin-bottom: 5px !important;" collection-repeat="x in feeds | filter:obj.searchText" collection-item-width="'95%'" collection-item-height="feeds.width" ng-style="{height:feeds.width+'px'}">
                <ion-item class="item" ng-style="{height:x.width-6+'px'}">
                    <div class="item-inner">
                      <div>
                        <div width="60px" style="float:left;display:table; vertical-align:middle;" ng-click="inAppBrowser(x.Feed.web_link)">
                            <div  style="display: table-cell; vertical-align: middle;">
                            <div class="item-thum news-thum"  style="background-image: url('http://sportfan-app.netsol.local/sportfan/img/team_logo_upload/large/{{x.Feed.team_image}}');">
                            </div>
                            </div>
                        </div>
                        
                        <div>
                            <div ng-click="inAppBrowser(x.Feed.web_link)" >
                                <div class="item-title">{{x.Feed.title| limitTo:50 }}{{x.Feed.title.length> 50 ? '...' : ''}}</div>
                                <div width="25%" class="item-label">{{  x.Feed.updated | fromNow }}</div>
                            </div>
                           <div class="item-desc" dd-text-collapse dd-text-collapse-max-length="30" dd-text-collapse-text="{{x.Feed.description}}"></div>
                        </div>
                        </div>
                      </div>
                      <div class="item tabs tabs-secondary tabs-icon-left news-tab" ng-if="globals.currentUser.id" style="background: rgb(0, 35, 88); height: 40px; border-radius: 0px;">
						<a class="tab-item col-25" href="javascript:;" ng-click="likeUnlikeFeed(globals.currentUser.id,1,x.Feed.id)">
						  <i style="color: white; margin-top: -8px;" class="icon ion-thumbsup"></i>
						  <span style="color: white;font-size: 18px;line-height: 30px;">{{x.Feed.like_count}}</span>
						</a>
						<a class="tab-item col-25" href="javascript:;" ng-click="likeUnlikeFeed(globals.currentUser.id,0,x.Feed.id)">
						   <i style="color: white; margin-top: -8px;" class="icon ion-thumbsdown"></i>
						  <span style="color: white;font-size: 18px;line-height: 30px;">{{x.Feed.unlike_count}}</span>
						</a>
						<a class="tab-item col-50" ng-click="goComment({{x.Feed.id}})">
						  <i style="color: white; margin-top: -8px;" class="icon ion-chatbox"></i>
						  <span style="width:100%;color: white;font-size: 18px;line-height: 0;margin: -10px 0 0 12px;">{{x.Feed.comment_count}} comments</span>
						</a>
					  </div>
                </ion-item>
                </div> 
    </ion-list>
        <!--
        <ion-list id="news-feed-list" >
        <div style="background-color: transparent;margin-bottom: 5px !important;" collection-repeat="x in feeds | filter:obj.searchText" collection-item-width="95%" collection-item-height="x.width" ng-style="{height:x.width+'px'}">
                <ion-item class="item" ng-style="{height:x.width-6+'px'}">
                    <div class="item-inner">
                      <div>
                        <div width="60px" style="float:left;display:table; vertical-align:middle;" ng-click="inAppBrowser(x.Feed.web_link)">
                            <div  style="display: table-cell; vertical-align: middle;">
                            <div class="item-thum news-thum"  style="background-image: url('http://sportfan-app.netsol.local/sportfan/img/team_logo_upload/large/{{x.Feed.team_image}}');">
                            </div>
                            </div>
                        </div>
                        
                        <div>
                            <div ng-click="inAppBrowser(x.Feed.web_link)" >
                                <div class="item-title">{{x.Feed.title| limitTo:50 }}{{x.Feed.title.length> 50 ? '...' : ''}}</div>
                                <div width="25%" class="item-label">{{  x.Feed.updated | fromNow }}</div>
                            </div>
                           <div class="item-desc" dd-text-collapse dd-text-collapse-max-length="30" dd-text-collapse-text="{{x.Feed.description}}"></div>
                        </div>
                        </div>
                      </div>
                      <div class="item tabs tabs-secondary tabs-icon-left news-tab" ng-if="globals.currentUser.id" style="background: rgb(0, 35, 88); height: 40px; border-radius: 0px;">
						<a class="tab-item col-25" href="javascript:;" ng-click="likeUnlikeFeed(globals.currentUser.id,1,x.Feed.id)">
						  <i style="color: white; margin-top: -8px;" class="icon ion-thumbsup"></i>
						  <span style="color: white;font-size: 18px;line-height: 30px;">{{x.Feed.like_count}}</span>
						</a>
						<a class="tab-item col-25" href="javascript:;" ng-click="likeUnlikeFeed(globals.currentUser.id,0,x.Feed.id)">
						   <i style="color: white; margin-top: -8px;" class="icon ion-thumbsdown"></i>
						  <span style="color: white;font-size: 18px;line-height: 30px;">{{x.Feed.unlike_count}}</span>
						</a>
						<a class="tab-item col-50" ng-click="goComment({{x.Feed.id}})">
						  <i style="color: white; margin-top: -8px;" class="icon ion-chatbox"></i>
						  <span style="width:100%;color: white;font-size: 18px;line-height: 0;margin: -10px 0 0 12px;">{{x.Feed.comment_count}} comments</span>
						</a>
					  </div>
                </ion-item>
                </div> 
        </ion-list>
         -->
         <!--
            <div class="photo" collection-repeat="x in feeds | filter:obj.searchText" item-height="250" item-width="x.width + 30" style="float: left !important; width: 100% !important;    position: inherit !important;"> 
               <div class="item-inner">
                              <div>
                                <div width="60px" style="float:left;display:table; vertical-align:middle;" ng-click="inAppBrowser(x.Feed.web_link)">
                                    <div  style="display: table-cell; vertical-align: middle;">
                                    <div class="item-thum news-thum"  >
                                        <img src="http://sportfan-app.netsol.local/sportfan/app/webroot/img/user_profile/large/1433919462_user_photo.jpg" ng-src="http://sportfan-app.netsol.local/sportfan/img/team_logo_upload/large/{{x.Feed.team_image}}" alt="{{x.Feed.title}}" title="{{x.Feed.title}}" />
                                    </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <div ng-click="inAppBrowser(x.Feed.web_link)" >
                                        <div class="item-title">{{x.Feed.title| limitTo:65 }}{{x.Feed.title.length> 65 ? '...' : ''}}</div>
                                        <div width="25%" class="item-label">{{  x.Feed.updated | fromNow }}</div>
                                    </div>
                                   <div class="item-desc" dd-text-collapse dd-text-collapse-max-length="100" dd-text-collapse-text="{{x.Feed.description}}"></div>
                                </div>
                                </div>
                                
            					 
                              </div>
            </div>
         -->
        <!--<ion-list id="news-feed-list" collection-repeat="x in feeds | filter:obj.searchText" item-height="250" item-width="x.width + 30" >
                <ion-item style="" class="item" > -->
				<!--<div class="item-inner">
                  <div>
                    <div width="60px" style="float:left;display:table; vertical-align:middle;" ng-click="inAppBrowser(x.Feed.web_link)">
                        <div  style="display: table-cell; vertical-align: middle;">
                        <div class="item-thum news-thum"  style="background-image:url('http://sportfan-app.netsol.local/sportfan/img/team_logo_upload/large/{{x.Feed.team_image}}');"></div>
                        </div>
                    </div>
                    
                    <div>
                        <div ng-click="inAppBrowser(x.Feed.web_link)" >
                            <div class="item-title">{{x.Feed.title| limitTo:65 }}{{x.Feed.title.length> 65 ? '...' : ''}}</div>
                            <div width="25%" class="item-label">{{  x.Feed.updated | fromNow }}</div>
                        </div>
                       <div class="item-desc" dd-text-collapse dd-text-collapse-max-length="100" dd-text-collapse-text="{{x.Feed.description}}"></div>
                    </div>
                    </div>
                    
					 
                  </div>  
				    <div class="item tabs tabs-secondary tabs-icon-left news-tab" ng-if="globals.currentUser.id" style="background: rgb(0, 35, 88); height: 40px; border-radius: 0px;">
						<a class="tab-item col-25" href="javascript:;" ng-click="likeUnlikeFeed(globals.currentUser.id,1,x.Feed.id)">
						  <i style="color: white; margin-top: -8px;" class="icon ion-thumbsup"></i>
						  <span style="color: white;font-size: 18px;line-height: 30px;">{{x.Feed.like_count}}</span>
						</a>
						<a class="tab-item col-25" href="javascript:;" ng-click="likeUnlikeFeed(globals.currentUser.id,0,x.Feed.id)">
						   <i style="color: white; margin-top: -8px;" class="icon ion-thumbsdown"></i>
						  <span style="color: white;font-size: 18px;line-height: 30px;">{{x.Feed.unlike_count}}</span>
						</a>
						<a class="tab-item col-50" ng-click="goComment({{x.Feed.id}})">
						  <i style="color: white; margin-top: -8px;" class="icon ion-chatbox"></i>
						  <span style="width:100%;color: white;font-size: 18px;line-height: 0;margin: -10px 0 0 12px;">{{x.Feed.comment_count}} comments</span>
						</a>
					  </div> -->
                      
                      
                  <!--    
                      
                           <div class="item-inner">
                              <div>
                                <div width="60px" style="float:left;display:table; vertical-align:middle;" ng-click="inAppBrowser(x.Feed.web_link)">
                                    <div  style="display: table-cell; vertical-align: middle;">
                                    <div class="item-thum news-thum"  >
                                        <img src="http://sportfan-app.netsol.local/sportfan/app/webroot/img/user_profile/large/1433919462_user_photo.jpg" ng-src="http://sportfan-app.netsol.local/sportfan/img/team_logo_upload/large/{{x.Feed.team_image}}" alt="{{x.Feed.title}}" title="{{x.Feed.title}}" />
                                    </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <div ng-click="inAppBrowser(x.Feed.web_link)" >
                                        <div class="item-title">{{x.Feed.title| limitTo:65 }}{{x.Feed.title.length> 65 ? '...' : ''}}</div>
                                        <div width="25%" class="item-label">{{  x.Feed.updated | fromNow }}</div>
                                    </div>
                                   <div class="item-desc" dd-text-collapse dd-text-collapse-max-length="100" dd-text-collapse-text="{{x.Feed.description}}"></div>
                                </div>
                                </div>
                                
            					 
                              </div>  
                       
                      
                    
                    
 
                </ion-item>
                
            </ion-list> </ion-scroll> -->
            <div style="width: 100%; float:left; height: 50px;" class="spacer"></div>
    </ion-content>
</ion-view>

